* {
  font-family: 'Courier New', Courier, monospace;
}

input {
  font-size: x-large;
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid black;
}

/* Increase checkbox sizes */
input[type='checkbox'] {
  transform: scale(1.5);
  cursor: pointer;
}

html {
  padding: 3rem;
}

.a-no-underline {
  text-decoration: none;
  color: black;
}

.a-no-underline:hover {
  color: gray;
}

.close-icon {
  color: transparent;
}

/* Make close icon red when you hover anywhere on the item */
.todo-item:hover .close-icon {
  color: red;
}

/* Show if tabbed to a transparent icon via keyboard */
.close-icon:focus {
  color: red;
}

.button {
  text-decoration: none;
  background-color: black;
  color: white;
  border: none;
  padding: 0.5rem;
}

.todo-add {
  padding: 2rem 0;
}

.todo-item {
  padding: 10px;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.todo-form {
  border-bottom: 1px dotted gray;
}

.todo-form:last-child {
  border: none;
}

.todo-item:hover {
  background-color: #efefef;
  border-radius: 8px;
}

.left,
.right {
  display: flex;
  flex-direction: row;
}

.left {
  flex: 4;
  justify-content: flex-start;
}

.right {
  flex: 1;
  justify-content: flex-end;
}

.todo-content {
  margin-left: 20px;
}

.finished-todo {
  text-decoration: line-through;
}
