<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <title>Flask Todo</title>
  </head>
  <body>
    <div class="todo-add">
      <form action="{{ url_for("add") }}" method="POST" class="parent">
        <div class="input-container">
          <input 
            type="text" 
            name="added-todo" 
            placeholder="add task to do today ..." 
            class="add-input"
          />
        </div>
      </form>
    </div>
    <div class="todo-list">
    	{% for todo in todos %}
        <div class="parent todo-item">
          <div class="left">
            <form 
              action="{{ url_for("complete", id=todo.id) }}"
              class="complete-form"
            >
            <input 
              type="checkbox" 
              onchange="this.form.submit()"
              {{ "checked" if todo.complete }}
            />
            </form>
          </div>
          <div class="middle">
            <form 
              action="{{ url_for("update", id=todo.id) }}"
              method="POST"
              class="edit-form input-container"
            >
              <input 
                type="text" 
                name="edited-content" 
                value="{{ todo.content }}"
                class="edit-input{{' completed' if todo.complete}}"
                id="edit-input-{{ todo.id }}"
                onblur="clearInput(`{{ todo.id }}`, `{{ todo.content }}`)"
              >
            </form>
          </div>
          <div class="right">
            <a 
              href="{{ url_for("delete", id=todo.id) }}" 
              class="a-no-underline close-icon"
            >
              <span>ⓧ</span>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
